@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #ff9480;
  --main-transition: opacity 0.3s ease;
  --signin-button: rgb(31, 82, 129);
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}
